.attribution { 
  font-size: 11px; 
  text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* styles.css */
body{
    margin: 0;
    padding: 0;
    height: 98vh;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 240, 234);
}
h1{
  text-align: left;
  font-size: 38px;
  margin-left: 100px;
  color: rgb(131, 95, 47);
  font-weight:700;
}
.main-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
  }
  
  .item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .item {
    max-width: 350px;
    position: relative;
    margin-bottom: 20px;
  }
  .item button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #000000;
    border-color: #d44a32;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 220px;
    font-size: 18px;
    transition: background-color 0.2s;

    position: absolute; /* Posiciona o botão */
    top: 70%; /* Metade do botão sobre a imagem */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .item button:hover{
    color: #ff6347;
  }
  .item button img{
    width: 25px;
    margin-right: 10px;
  }
  .item-description{
    margin-top: 30px;

  }
  .item-description h2{
    text-align: left;
    margin: 0;
    padding-left: 5px;
  }
  .item-description p{
    margin: 8px;
    text-align: left;
    color: #ff6347;
    font-weight: bold;
    font-size: 1.2rem;
}
  .item-description p:nth-child(1){
    color: rgb(131, 95, 47);
    font-weight: lighter;
    font-size: 1rem;
  }
  img{
    width: 90%;
    justify-content: center;
    border-radius: 8px;

  }
  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 25%;
    height: 50%;
    min-height: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .cart-container.empty{
<<<<<<< HEAD
    background-image:url(/product-list-with-cart-main/assets/images/illustration-empty-cart.svg);
    background-position:center 20%;
=======
    background-image:url(assets/images/illustration-empty-cart.svg);
    background-position: center;
>>>>>>> 2712e16e7598ad2117247d81d70300ddbce10388
    background-repeat: no-repeat;
    background-size: 40%;
    
  }
  .cart-container h2{
    text-align: left;
    font-size: 24px;
    color: #ff6347;
  }
  .cart-container p{
    font-size: 18px;
    font-weight: bold;
  }
  .cart-footer {
    width: 100%;
  }
  .cart-footer p{
    font-size: 18px;
    font-weight: bold;
  }
  #clear-cart{
    background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bolder;
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
ul#cart-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  margin: auto;
  border-bottom: 1px solid #ccc;
  order: 1;
}
.item-name {
  width: 100%;
  text-align: left;
}
ul#cart-items .item-name {
  font-weight: bold;
}

ul#cart-items .item-price {
  font-weight: bold;
}
.remove-item {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
#order-total {
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
  color: #d44a32;
}

.remove-item:hover {
  background-color: #ddb121;
}

  @media (max-width: 1400px) {
    .main-container {
        margin: 30px 50px;
        
    }
    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .item button{
        width: 160px;
        font-size: 12px;
        top:300px; /* Metade do botão sobre a imagem */
        left: 50%;
    }
    .cart-container{
      width: 40%;
    }
    ul#cart-items li{
      justify-content: space-between;
      flex-wrap: wrap;
      order: 1;
      margin: auto;
    }
    .item-name {
      text-align: left;
    }
    
}

@media (max-width: 992px) {
    .main-container {
        margin: 30px 20px;
    }

    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .item button{
      font-size: 12px;
      width: 160px;
      top: 67%;
    }
    ul#cart-items li{
      justify-content: center;
      flex-wrap: wrap;
      order: 1;
      margin: auto;
    }
    .item-name {
      text-align: center;
    }
}

@media (max-width: 770px) {
  h1{
    text-align: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
  }
    .main-container {
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .item-container {
      grid-template-columns: 1fr;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  
    .item {
      margin-bottom: 20px;
    }
    .item button{
      font-size: 12px;
      width: 160px;
      top: 335px;
      
    }
    .item img {
        width: 100%;
        max-width: 100%;
        margin: 0;
        display: block;
        
    }    
    .cart-container {
        width: 96%;
        margin-top: 30px;
        margin-bottom: 30px;
        height: auto;
        
      }
      ul#cart-items li{
        justify-content: space-between;
        order: 1;
        margin: auto;
      }
      .item-name {
        width: 100%;
        text-align: left;
      }
    }
 
